# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/generated/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
backend/node_modules
admin/node_modules
mobile/node_modules
admin/dist_electron
backend/dist
